button {
    height: 40px;
    font-size: 30px;
}

div {
    margin: 2px 2px 0px 2px;
}

#container {
    width: 700px;
}

#color-palette, #my-palette {
    display: inline-block;
    width: 330px; height: 530px;
    overflow: hidden;
}

.square {
    display: inline-block;
    width: 28px; height: 28px;
    cursor: pointer;
}